In [1]:
#pandas is a library imported to handle all the database related functions
import pandas as pd

In [2]:
#read_csv is a function under pandas to read the comma separated value file
dataset=pd.read_csv("Salary_Data.csv")

In [3]:
#to view the dataset
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [4]:
#a particular column has been taken as a value to a variable
independent=dataset[["YearsExperience"]]

In [5]:
#to view what is stored in the variable
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [6]:
# salary column has been given as a value to a variable called dependent
dependent=dataset[["Salary"]]

In [7]:
#to view the value stored
dependent

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [10]:
#splitting the training and test set
#sklearn is a library for Machine Learning
#train_test_split function under sklearn is imported
from sklearn.model_selection import train_test_split

In [12]:
#this function is called to split the training set and test set
#test_size is the size of the test set in percentage
train_test_split(independent,dependent,test_size=0.30,random_state=0)

[    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
     YearsExperience
 2               1.5
 28             10.3
 13              4.1
 10              3.9
 26              9.5
 24              8.7
 27              9.6
 11              4.0
 17              5.3,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0,
       Salary
 2    37731.0
 28  122391.0
 13   57081.0
 10   63218.0
 26  116969.0
 24  109431.0
 27  112635.0
 11   55794.0
 17   83088.0]

In [13]:
#the splitted values were assigned to four variables
#X_train,X_test holds the train and test set inputs
#Y_train,Y_test holds the train and test set outputs
X_train,X_test,Y_train,Y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [14]:
#to view the value stored
X_train

    YearsExperience
22              7.9
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [15]:
X_train,Y_train

(    YearsExperience
 22              7.9
 5               2.9
 16              5.1
 8               3.2
 14              4.5
 23              8.2
 20              6.8
 1               1.3
 29             10.5
 6               3.0
 4               2.2
 18              5.9
 19              6.0
 9               3.7
 7               3.2
 25              9.0
 3               2.0
 0               1.1
 21              7.1
 15              4.9
 12              4.0,
       Salary
 22  101302.0
 5    56642.0
 16   66029.0
 8    64445.0
 14   61111.0
 23  113812.0
 20   91738.0
 1    46205.0
 29  121872.0
 6    60150.0
 4    39891.0
 18   81363.0
 19   93940.0
 9    57189.0
 7    54445.0
 25  105582.0
 3    43525.0
 0    39343.0
 21   98273.0
 15   67938.0
 12   56957.0)

In [36]:
#LinearRegression function is imported from sklearn.linear_model to implement the Simple Linear Regression Algorithm
#LinearRegression class is assigned to a variable called regressor
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [18]:
#the input and output of training set is given through a function called fit.
#Model is created at the successful execution of this line
regressor.fit(X_train,Y_train)

LinearRegression()

In [19]:
#to view the value of bais regressor.intercept_ function is called
bais=regressor.intercept_

In [20]:
bais

array([26777.3913412])

In [21]:
#to view the weight of the model created
weight=regressor.coef_

In [22]:
weight

array([[9360.26128619]])

In [23]:
#predict function is called to get the outputs for the given inputs(X_test)
#the predicted output will be stored in the y_pred variable
y_pred=regressor.predict(X_test)

In [24]:
#to view the stored value
y_pred

array([[ 40817.78327049],
       [123188.08258899],
       [ 65154.46261459],
       [ 63282.41035735],
       [115699.87356004],
       [108211.66453108],
       [116635.89968866],
       [ 64218.43648597],
       [ 76386.77615802]])

In [25]:
#to evaluate the efficiency of the model created r2_score function is imported from the sklearn.metrics module
from sklearn.metrics import r2_score

In [26]:
#this function evaluates the actual and the predicted outputs 
#the value will be stored in a variable called r_score
r_score=r2_score(Y_test,y_pred)

In [28]:
#to view the value
r_score

0.9740993407213511

In [29]:
#if the model's learning was good then it can be saved
#to save the model pickle is imported
import pickle

In [30]:
#a name is given to the created model with .sav as extension
filename="finalized_model_linear.sav"

In [31]:
#dump function will write and save the model created (regressor) in the given filename
pickle.dump(regressor,open(filename,'wb'))

In [32]:
#to load the saved model load function is called
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))

In [33]:
#predict function is called to get the predicted output and the output will be stored in a variable called result
result=loaded_model.predict([[16]])

C:\Users\Admin\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [34]:
#to view the predicted output
result

array([[176541.5719203]])